.listWrapper{
    margin: 10px 0;
    padding: 14px 0 10px 15px;
    font-size: 18px;
    background-color: rgba(255, 193, 141, 0.877);
    box-shadow: 2px 2px #ccc;
}

.listWrapper span{
    width: 10px;
    font-weight: bold;
}